ul {
  list-style-type: none;
}

a {
  color: #f3f3f3;
  text-decoration: none;
}

a:hover {
  color: #808080;
}

.App-container {
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 16px;
  color: white;
}

.User-Info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 25vw;
  min-height: 25vw;
  border-radius: 39px;
  box-shadow:  25px 25px 50px #161616,
             -25px -25px 50px #2c2c2c;
  padding: 50px 0px 30px 0px;
  margin: 50px 0px;
}

.Info-Item {
  border-bottom: 1px solid #1a1a1a;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 1.4em;

}

.Info-Item:nth-of-type(1) {
  border-top: 1px solid #1a1a1a;
}

.label {
  color: #808080;
  font-size: 12px;
  margin-right: 15px;
}

.Nav-Container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 1.4em;
  padding: 25px 20px 0px 20px;
}

.Nav-Button {
  border-radius: 26px;
  background: linear-gradient(145deg, #232323, #1e1e1e);
  box-shadow:  5px 5px 10px #171717,
             -5px -5px 10px #2b2b2b;
  padding: 10px 10px;
  min-width: 75px;
  text-align: center;
  transition: background 0.5s, color 0.5s;
}

.Nav-Button:active {
  background: linear-gradient(145deg, #1e1e1e, #232323);
}

.Bar-Container {
  border-bottom: 1px solid #1a1a1a;
  padding: 20px 20px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Bar-Base {
  margin-top: 15px;
  border-radius: 175px;
  background: #212121;
  box-shadow: inset 3px 3px 5px #171717,
              inset -3px -3px 5px #2b2b2b;
  width: 100%;
  height: 16px;
}

.Bar {
  border-radius: 90px;
  background: linear-gradient(145deg, #fffe27, #ec8314);
  height: 10px;
  margin-top: 3px;
  width: 5px;
  transition: width 1s;
}

.Bar-Info {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Order-Item {
  flex-direction: column;
}

.Order-Info {
  display: inline-flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.Order-Info:nth-of-type(2) {
  margin: 10px 0px;
}

.Title {
  text-align: center;
}

.Main-Title {
  margin-bottom: 20px;
}

.User-List {
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
}

.Customers-Container {
  width: 100%;
}

.Customers {
  justify-content: center;
}

.Scrollable {
  max-height: 350px;
  overflow-y: scroll;
}

.Scrollable::-webkit-scrollbar {
  width: 0.7em;
}

.Scrollable::-webkit-scrollbar-track {
  border-radius: 50px;
  background: #212121;
  box-shadow: inset 3px 3px 5px #141414,
              inset -3px -3px 5px #2e2e2e;
}

.Scrollable::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: linear-gradient(145deg, #232323, #1e1e1e);
  box-shadow:  0px 0px 6px #0e0e0e,
               -2px -2px 0px #343434;
  width: 0.5em;
  height: 10px;
}
